@tailwind base;
@tailwind components;
@tailwind utilities;

#product-carousel::-webkit-scrollbar {
  width: 8px; /* Horizontal scrollbar height */
  height: 8px; /* Vertical scrollbar width */
  margin-top: 1em;
}

#product-carousel::-webkit-scrollbar-thumb {
  background-color: #82bc00; /* Scrollbar thumb color */
  border-radius: 50px;
}

#product-carousel::-webkit-scrollbar-track {
  background: #e5e7eb; /* Scrollbar track color */
  border-radius: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  